<% title t('.title') %>

<div id="about-page">
  <%= link_to(image_tag('volunteers.png', class: 'pull-right'), @bitly_url, target: :blank) %>
  <%= simple_format(t('.text').gsub('[bitly_url]', @bitly_url)) %>
</div>
