<% title t('.title') %>

<div id="download">
  <p>
    <%= t('.num_precincts', :count => @num_precincts, :total => @total_precincts, 
        :percent => number_to_percentage(number_with_precision(100*@num_precincts/@total_precincts.to_f))) %>
  </p>

  <p>
    <%= link_to 'CSV', generate_spreadsheet_path(:format => :csv) %>

    <%= link_to 'XLS', generate_spreadsheet_path(:format => :xls) %>
  </p>
  
</div>
