.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

#protocol-form-container {
  display: table;
  margin: 0px auto;
  
  p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    &#amendment_explanation, &#amendment_copy{
      background-color: #ca4748;
      color: #fff;
      padding: 5px;
    }
    &#overseas_explanation{
      background-color: #1b70af;
      color: #fff;
      padding: 5px;
    }
    &#amendment_copy {
      font-size: 15px;
      width: 255px;
      margin: 15px 0px 0px 60px;
    }
  }

  div#votesum_explanation{
    border: solid 2px #1b70af;
    width: 255px;
    margin: 15px 0px 0px 60px;
    padding: 5px;
    p{
      font-size: 15px;
      text-align: left;
    }
  }
  
  #amendment_image{
    color: #fff;
    padding: 5px;
  }

}

#error-icon-tooltip {
  position: absolute;
  padding: 5px 10px;
  background: #953B39;
  border: 1px solid #fff;
  color: #fff;
  visibility: hidden;
  .border-radius(3px);
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #953B39;
  }
}


#protocolimg {
  width: 800px;
  height: 1100px;
  display: block;
  float: left;
}

@h: 21px;

#protocolimg + form {
  float: left;
  display: block;
  margin-left: -50px;

  .m {
    .control-group {
      margin: 0px;
      .clearfix();
      label, .controls {
        display: block;
        float: left;
      }
      label {
        .box-sizing();
        width: 95px;
        text-align: center;
        line-height: @h;
        height: @h;
        padding: 0px 0px 0px 10px;
        margin: 0px;
        border-bottom: 1px solid #ccc;
      }
      input {
        width: 70px;
        .box-sizing();
        .border-radius(0px);
        height: @h;
        margin: 0px;
      }
      input + .help-inline {
        display: none;
      }
      input + img.error-icon {
        vertical-align: middle;
        margin-left: 3px;
        cursor: pointer;
      }
    }
    &.m1 {
      margin-top: 108px;
    }
    &.m2 {
      margin-top: 5px;
    }
    &.m3, &.m4 {
      margin-top: 18px;
    }
    &.m5 {
      margin-top: 6px;
    }
    &.m6 {
      margin-top: 2.5px;
      border-bottom: 4.5px solid #333;
    }
    &.m7 {
      margin-top: 2.5px;
    }
    &.m11, &.m17, &.m19, &.m21, &.m22, &.m23, &.m27 {
      margin-top: .5px;
    }
    &.m29 {
      margin-top: 0px;
      border-bottom: 4px solid #333;
      label, input {
        height: 21px;
        line-height: 21px;
      }
    }
    &.m30 {
      margin-top: 6px;
      border-bottom: 1px solid #333;
    }
  }
  .inline {
    .m {
      float: left;
      &:not(:first-child) {
        label {
          border: none;
        }
      }
    }
  }
  .actions {
    padding-left: 60px;
    list-style: none;
    margin-top: 20px;
    input {
      padding: 3px 7px;
    }
  }


  &.training {
    .m {
      label {
        border-color: #444;
        text-align: right;
        padding: 0px 10px 0px 0px;
        width: 100px;
      }
      margin-top: 6px;
      &.error {
        input, label {
          border-color: #B94A48;
          color: #B94A48;
        }
        .error-message {
          color: #B94A48;
          margin: 0px 10px;
          float: left;
          height: @h;
          line-height: @h;
        }
      }
    }
    .m1 {
      margin-top: 119px;
    }
    .m2 {
      margin-top: 4px;
    }
    .m3, .m4 {
      margin-top: 17px;
    }
    .m6 {
      margin-top: 2.5px;
    }
    .m7 {
      margin-top: 8px;
    }
    .m22 {
      margin-top: 6px;
      border-bottom: 3.5px solid #333;
      label, input {
        height: 21px;
        line-height: 21px;
      }
    }
    .m23 {
      margin-top: 5px;
    }
    input[type="submit"] {
      margin: 20px 0px 0px 80px;
    }
    .inline{
      .m:last-child {
        label {
          width: 85px;
        }
      }
    }
  }
}

#protocolimg.low + form {
  .m {
    @h: 22.5px;
    label, input {
      height: @h;
    }
    label {
      line-height: @h;
      padding-right: 10px;
      width: 85px;
      text-align: right;
    }
    &.m1 {
      margin-top: 125px;
    }
    &.m2 {
      margin-top: 5px;
    }
  }
}



#votesum {
  position: absolute;
  margin: 1px 0px 0px 50px;
  left: -9998px;
  top: -9999px;
  span {
    display: inline-block;
    background: #B94A48;
    color: #fff;
    padding: 2px 5px;
    height: 19px;
    line-height: 16px;
    .box-sizing();
    .border-radius(2px);
    &:not(:last-child) {
      margin-right: 1px;
    }
    &.e {
      visibility: hidden;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &.same {
    span {
      background: #056A2E;
      &.e {
        visibility: visible;
        background: transparent;
        color: #000;
      }
    }
  }
}










.dataTable {
  .ui-icon {
    display: inline-block;
    vertical-align: middle;
  }
  thead th {
    vertical-align: middle;
  }
}





















