#landing_page{
  p{
    font-size: 15px;
    line-height: 20px;
    /*margin-bottom: 20px;*/
  }
  li{
    font-size: 15px;
    line-height: 20px;
  }
  h2, h3{
    margin-top: 25px;
    padding-bottom: 10px;
  }
  h2 > .switch-to{
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
  }
  h3{
    font-size: 16pt;
    &.underline{
      border-bottom: solid 2px #ebebeb;
    }
  }
  a {
    color:#8A0A15;
    text-decoration:underline;
  }
  .elections-coming-up {
    ul li {
      color:#8A0A15;
      font-weight:bold;
    }
  }
  .data-downloads li{
    margin-top: 10px;
  }

}
