#landing_page{
  & > .row-fluid:first-of-type {
    margin-bottom: 20px;
    .span6 {
      text-align: center;
      h2 {
      }
      ul {
        display: inline-block;
        text-align: left;
        li {
        }
      }
    }
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px 0px;
  }
}
